.App {
  text-align: center;
}
@media screen and (min-width: 800px) { 
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(7px + 2vmin);
    color: white;
  }
}

@media screen and (max-width: 800px) { 
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}