@media screen and (min-width: 800px) { 
    .extra-button{
        border: none;
        background-color: #2057c5;
        border-radius: 5pt;
        height: auto;
        width: auto;
        font-size: large;
        padding:1vh;
        cursor: pointer;
    
    }
    .extras-menu-container{
        width: 20vw;
        height: auto;
        float: right;
        margin-right:12vw;
        margin-top: 4vh;
        cursor: pointer;
    }
    .extra-button-container{

    }
    .option-container{
        margin-top: 3vh;
        background-color: rgb(54, 61, 80);
    }
    .extra-option{
        padding: 1vh;
    }
    .extra-option:hover{
        background-color:  #282c34;
        border: solid 1px white;
    }
    .radio-cnt{
        display: ruby;
    }

    .create-event-inner-container{
        width:30vw;
        margin: 0 auto;
    }
    .form-container{
        margin: 0 auto;
    }

    .create-event-container{
    }
    .create-button-container{
        margin-top: 6vh;
    }

    .form-container{
        display: flex;
        flex-direction: column;
        margin-top: 3vh;
    }
    .form-container input{
        margin-bottom: 1vh;
    }
    .input-field{
        font-size: x-large;
        width: 28vw;
        margin: 0 auto;
    }
    .description-input-cntr{
        display: flex;
        flex-direction: column;
    }
    .text-area{
        font-size: x-large;
        width: 28vw;
        height: 30vh;
        margin: 0 auto;
    }
    input[type=checkbox] {
        transform: scale(1.5);
        width: 3vw;
        border: none;
    }
    input[type=radio] {
        transform: scale(1.5);
    }
    .center{
        margin: 0 auto;
    }

    .max-parts-input{
        display: flex;
        flex-direction: column;
        margin-top: 3vh;
    }
    .form-container label{
        padding:1vh;
    }
    .extras{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) { 
    .create-event-container{
        margin: 0 auto;
        width: 100%;
    }
    .form-container{
        display: flex;
        flex-direction: column;
        margin: 4vh auto;
        width: 100%;
    }
    .form-container input{
        margin-bottom: 3vh;
    }
    .extra-button-container{
        display: flex;
        flex-direction: row-reverse;
    }
    .extra-button{
        border: none;
        background-color: #2057c5;
        border-radius: 5pt;
        height: auto;
        width: 15vw;
        font-size: smaller;
        padding:1vh;
        margin-right: 2vh;
    }
    .extras-menu-container{
        display: flex;
        flex-direction:column;
        width: 100%;
        height: auto;
        margin-top: 1vh;
    }
    .option-container{
        margin: 4vh auto 0;
    }
    .extra-option{
        background-color: #2057c5;
        padding: 2vw;
        margin:2vw;
        width: 30vw;
        border-radius: 2pt;
    }
    .input-field{
        font-size: x-large;
        width: 60vmin;
        margin: 0 auto;
    }
    .description-input-cntr{
        display: flex;
        flex-direction: column;
    }
    .text-area{
        font-size: x-large;
        width: 60vmin;
        margin: 0 auto;
    }
    .create-button-container{
        margin-top: 6vh;
    }
    .radio-cnt{
        display: ruby;
    }
    .extras{
        display: flex;
        flex-direction: column;
    }
}