@media  screen and (max-width: 800px){
    .signup-cnt{
        display: flex;
        flex-direction: column;
        margin-top: 3vh;
        text-align: center;
    }
    .signup-field{
        text-align: center;
        font-size: x-large;
        width: 60vmin;
        margin: 0 auto;
    }
    .signedup-header{

    }
    .signedup-name{
        color: #51e651;
    }
    .signup-button{
        border: none;
        background-color: #2057c5;
        border-radius: 5pt;
        height: auto;
        width: auto;
        font-size: x-large;
        text-align: center;
        padding:1vh;
        margin:1vh;
        cursor: pointer;
    }
    .signup-extra-button{
        border: none;
        background-color: #2057c5;
        border-radius: 5pt;
        height: auto;
        width: fit-content;
        font-size: small;
        text-align: center;
        padding:1vh;
        margin:1vh auto;
        cursor: pointer;
    }
    .event-header{
        font-size: x-large;
        margin: 1vw;
    }
    .event-data-cntr{
        display: flex;
        justify-content: center;
        margin-left: 3vw;
        margin-right: 3vw;
    }
    .event-data{
        margin:1vw; 
    }
    .description-header-cntr{
        margin-top: 1vh;
        display: flex;
        justify-content: space-between;
    }
    .description-header-cntr >*{
        margin: 2vw 0;
    }
    .description-header{
        margin-left: 10vw;
    }
    .description-button{
        background-color: transparent;
        border: none;
        outline: none;
        color: #65a2ff;
        margin-right:10vw;
    }
    .description-cntr{
        width: 80vw;
        height: auto;
        background-color: #242530;
        margin: 0 auto;
        font-style: italic;
    }
    .participant-cnt{
        margin-top: 2vh;
    }
}
